* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	color: #fff;
}

body {
	background: #343a40;
	overflow: hidden;
}

.heading-text {
	/*font-family: "Open Sans", sans-serif;*/
	font-family: "Space Mono", monospace;
	font-weight: bold;
}

#gmap {
	width: 100%;
	height: 100%;
}

.span-gold-title {
	color: #f3c26b;
	font-size: 25px;
}

#card-border {
	border-bottom: 1px solid #f3c26b;
}

#landing-page {
	
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

#position {
	background-color: rgba(62, 62, 62, 0.82);
	padding: 11px;
	color: #9b9b9b;
}

#margin {
	margin-top: 50px;
}

#button-gold {
	background: #f3c26b;
	color: #fff;
}

#button-gold:hover {
	background: #2b2b2d !important;
	border: 1px solid #f3c26b !important;
	font-weight: bold !important;
	color: #f3c26b !important;
}

#contact-form {
	background: #343436;
	padding: 30px 30px 30px 30px;
	border: 1px solid #2b2b2d;
	/*margin-left: 5%;*/
}

#contact-info {
	background: #343436;
	padding: 20px 10px 5px 10px;
	border: 1px solid #2b2b2d;
	margin-bottom: 15px;
	/*margin-left: 5%;*/
}

#contact-info-educ {
	background: #2b2b2d;
	border: 1px solid #2b2b2d;
	margin-bottom: 35px;
	margin-top: 20px;
	padding: 10px 20px 10px 20px;
	/*margin-left: 5%;*/
}

#zuitt-info-educ {
	background: #2b2b2d;
	border: 1px solid #2b2b2d;
	margin-top: 20px;
	padding: 10px 20px 10px 20px;
	/*margin-left: 5%;*/
}
#zuitt-info-educ2 {
	background: #2b2b2d;
	border: 1px solid #2b2b2d;
	margin-top: 20px;
	padding: 10px 20px 10px 20px;
	margin-bottom: 35px;
	/*margin-left: 5%;*/
}

#span-educ {
	background: #2b2b2d;
	border: 1px solid #2b2b2d;
	padding: 10px 20px 10px 20px;
	margin-bottom: 10px;
}

#input {
	background: #2f2f31;
	border: 1px solid #2b2b2d;
	color: #f8f9fa;
}

#contact-icon {
	color: #f3c26b;
}

#about-icon {
	color: gray;
}

#contact-span {
	background: #2f2f31;
	padding: 15px;
	margin-right: 10px;
	margin-bottom: 20px;
	border: 1px solid #2b2b2d;
}

#about-span {
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

#devicon-span {
	margin-right: 10px;
}

#title {
	font-family: "Space Mono", monospace;
	font-weight: bold;
	font-size: 25px;
}

#title2 {
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 30px;
}

.hr {
	background: #f3c26b;
}

.hr2 {
	background: #343436;
	margin-bottom: 10px;
	margin-top: 10px;
}

.contextcolor {
	color: #9b9b9b;
	font-size: 14px;
}

.contextcolor2 {
	color: #9b9b9b;
	/*font-size: 20px;*/
}

.contextcolort {
	color: #fff;
	font-size: 14px;
}

.contextcolortitle {
	font-family: "Space Mono", monospace;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}

.margin-buttom {
	margin-bottom: 30px;
}

.margin-buttoma {
	margin-bottom: 90px;
}

.line-height {
	line-height: 30px;
	text-align: justify;
}

#table {
	background: transparent;
	border: none;
}

.span-gold {
	color: #f3c26b;
}

#about-padding {
	padding-top: 0;
	padding-bottom: 0;
}

#custom-nav {
	background-color: rgba(62, 62, 62, 0.82);
	font-family: "Space Mono", monospace;
	font-weight: bold;
}

.nav-text {
	color: #f3c26b !important;
}

.nav-text:hover {
	background: #f3c26b !important;
	color: #343436 !important;
	opacity: 0.85;
}

.btn-next {
	background: #f3c26b !important;
	border: 1px solid #2b2b2d !important;
	font-weight: bold;
}

.btn-next:hover {
	background: #2b2b2d !important;
	border: 1px solid #f3c26b !important;
	font-weight: bold !important;
	color: #f3c26b !important;
}

.bnb {
	background: yellow;
}

.custom-devicon {
	font-size: 3rem;
	color: #f3c26b;
	opacity: 0.7;
}

.hero-container {
	margin-top: 0px;
	padding: 0;
	background: pink;
}

.progress-container {
	margin-top: 6%;
}

.progress-content {
	margin-bottom: 3%;
}

.text-progress {
	font-weight: bold;
}

.card-text {
	background: #f3c26b;
	margin: 10px 10px 10px 0px;
	font-size: 10px;
	font-weight: bolder;
	color: #2f2f31;
	padding: 3px;
	border-radius: 6px;
}

.custom-footer{
	padding-top: 2rem !important; 
	padding-bottom: 2rem !important; 
}

.margin{
	margin-top: 50px !important;
}


#contact-info-educ1 {
	
	border: 1px solid #2b2b2d;
	padding: 10px !important;
	/*padding: 10px 20px 10px 20px;*/
	/*margin-left: 5%;*/
}

.cardcontent {
	padding : 0px !important;
	/*margin : 20px !important;*/
}

.cardheader{
	margin-bottom: 1rem !important;
}

.container1{
	position:  relative;
	display: inline-block;
	text-align: center;
	padding: 15px;
	margin-bottom: 0.8rem;

}


.overlay{
	position: absolute;
	transition: all .3s ease;
	opacity: 0;
	/*background: #eee;*/
}

 .container1:hover .overlay{
	opacity: .9; 
} 

.text{
	color: white;
	font-weight: bolder;
	font-family: sans-serif;
	position: absolute;
	top: 65%;
	left: 1%;
	transform: translate(-30%, -20%);
	font-size: 20px; 
	transition: all .5s ease;
	z-index: 4;
}


.text3{
	/*color: white;*/
	font-weight: bolder;
	font-family: sans-serif;
	position: absolute;
	top: 80%;
	margin-left: 15px;
	/*opacity: 1;*/
	/*left: 30%;*/
	/*transform: translate(-40%, -40%);*/
	font-size: 20px; 
	/*transition: all .5s ease;*/
	z-index: 3;
}

.custom-devicon2 {
	/*font-size: 2em;*/
	color: black;

}

.custom-devicon3 {
	font-size: 1.5rem;
	color: #f3c26b;
	opacity: 0.7;
	/*color: black;*/

}





.icon{
	color: white;
	font-family: sans-serif;
	position: absolute;
	top: 15%;
	right: 5%;
	transform: translate(-50%, -50%);
	font-size: 20px; 
	transition: all .5s ease;
}
.container1:hover .icon{
	right: 7%;
}

.iconimg{
	padding: 5px;
	/*border-radius: 50%;*/
	background: #f3c26b;
	margin-right: .5rem; 
	opacity: 1;
}


.container1:hover .text{
	left: 20%;
}


.overlayleft{
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #2b2b2d;
	/*background-color: black;*/


}

.container1:hover .overlayleft{
	width: 100%;
}

#button-gold2{
	background: black !important;	
	color: white;
}

.afont{
	font-size: 12px !important;
	color: black;

}